In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

/Users/yuweitu/anaconda/envs/py35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon'],
      dtype='object')

In [4]:
data.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
JURIS_DESC            object
BORO_NM               object
ADDR_PCT_CD          float64
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
PARKS_NM              object
HADEVELOPT            object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lat_Lon               object
dtype: object

In [5]:
columns = pd.DataFrame(list(data.columns.values))

In [6]:
data_types = pd.DataFrame(data.dtypes, columns=["Data Type"])

In [7]:
missing_data_counts = pd.DataFrame(data.isnull().sum(),
                        columns=['Missing Values'])

In [8]:
present_data_counts = pd.DataFrame(data.count(), columns=['Present Values'])

In [9]:
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(data.columns.values):
    unique_value_counts.loc[v]=[data[v].nunique()]

In [10]:
data_quality_report = data_types.join(present_data_counts).join(missing_data_counts).join(unique_value_counts)
print("Data Quality Report")
print("Total records: {}".format(len(data.index)))
print(data_quality_report)

Data Quality Report
Total records: 5101231
                  Data Type  Present Values  Missing Values  Unique Values
CMPLNT_NUM            int64         5101231               0      5101231.0
CMPLNT_FR_DT         object         5100576             655         6371.0
CMPLNT_FR_TM         object         5101183              48         1442.0
CMPLNT_TO_DT         object         3709753         1391478         4827.0
CMPLNT_TO_TM         object         3713446         1387785         1441.0
RPT_DT               object         5101231               0         3652.0
KY_CD                 int64         5101231               0           74.0
OFNS_DESC            object         5082391           18840           70.0
PD_CD               float64         5096657            4574          415.0
PD_DESC              object         5096657            4574          403.0
CRM_ATPT_CPTD_CD     object         5101224               7            2.0
LAW_CAT_CD           object         5101231               0            3.0
JURIS_DESC           object         5101231               0           25.0
BORO_NM              object         5100768             463            5.0
ADDR_PCT_CD         float64         5100841             390           77.0
LOC_OF_OCCUR_DESC    object         3974103         1127128            6.0
PREM_TYP_DESC        object         5067952           33279           70.0
PARKS_NM             object            7599         5093632          863.0
HADEVELOPT           object          253205         4848026          278.0
X_COORD_CD          float64         4913085          188146        69532.0
Y_COORD_CD          float64         4913085          188146        72316.0
Latitude            float64         4913085          188146       112803.0
Longitude           float64         4913085          188146       112807.0
Lat_Lon              object         4913085          188146       112826.0

In [11]:
data['CMPLNT_NUM'].unique()

array([101109527, 153401121, 569369778, ..., 832021762, 395395139,
       673950804])

In [12]:
len(str(data.ix[1,'CMPLNT_NUM']))

9

In [13]:
data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [14]:
# mapreduce project
# check validation of 'CMPLNT_NUM'
for i in range(len(data['CMPLNT_NUM'])):
    if len(str(data.ix[i,'CMPLNT_NUM'])) != 9:
        print(data.ix[i,'CMPLNT_NUM'])
        print('Finished')

In [ ]:
len(data.ix[1,'CMPLNT_FR_DT'])

In [15]:
# identify outliers in date
import re
for i in range(len(data)):
    if len(str(data.ix[i,'CMPLNT_FR_DT'])) != 3 and re.match('[0-9]{2}/[0-9]{2}/[0-9]{4}', str(data.ix[i,'CMPLNT_FR_DT'])) is None:
        print(data.ix[i,'CMPLNT_FR_DT'])
print('Finished')

Finished

In [16]:
for i in range(len(data)):
    if len(str(data.ix[i,'CMPLNT_TO_DT'])) != 3 and re.match('[0-9]{2}/[0-9]{2}/[0-9]{4}', str(data.ix[i,'CMPLNT_TO_DT'])) is None:
        print(data.ix[i,'CMPLNT_TO_DT'])
print('Finished')

Finished

In [17]:
# identify outliers in time

In [ ]:
# combine datetime
data['CMPLNT_FR'] = data['CMPLNT_FR_DT'] + ' ' + data['CMPLNT_FR_TM']
data['CMPLNT_TO'] = data['CMPLNT_TO_DT'] + ' ' + data['CMPLNT_TO_TM']

In [ ]:
# tranform to DateTime object
# spark project
import datetime
for i in range(len(data)):
    if len(data.ix[i,'CMPLNT_FR']) == 19:
        try:
            data.ix[i,'CMPLNT_FR'] = datetime.datetime.strptime(data.ix[i,'CMPLNT_FR'], '%m/%d/%Y %H:%M:%S')
        except:
            print(data.ix[i,'CMPLNT_FR'])
print('Finished')

In [ ]:
for i in range(len(data)):
    if len(data.ix[i,'CMPLNT_TO']) == 19:
        try:
            data.ix[i,'CMPLNT_TO'] = datetime.datetime.strptime(data.ix[i,'CMPLNT_TO'], '%m/%d/%Y %H:%M:%S')
        except:
            print(data.ix[i,'CMPLNT_TO'])
print('Finished')